.win-window

  .win-window-button
    position: absolute
    top: 50vh
    width: 150px
    height: 75px
    left: calc(50% - 150px)
    cursor: pointer

    .win-window-arrow
      width: 300px

      &:hover
        width: 320px
